// COLOR VARIABLES
$color-primary: #f4f4f4;

$color-secondary: #5e84fc;
$color-secondary-dark: #0431bd;

$color-grey-light-1: #f9f7f6;
$color-grey: #999c9d;
$color-grey-dark: #222;

// TEXT
$color-light-text: #fff;
$color-dark-text: #000;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;           // 1200px
$bp-large: 62.5em;           // 1000px
$bp-medium: 50em;            // 800px;
$bp-small: 37.5em;           // 600px;
$bp-smallest: 28.25em;       // 452px;
$bp-super-smallest: 23.4375em// 375px;