.nav {
    height: 5rem;
    background-color: rgba(4, 49, 189, 0.2);
    font-size: 130%;
    
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        
        &-item {
            background-color: transparent;
            padding: 0.5rem;
            font-size: 200%;
            margin: 0 1rem;

            &-link {
                text-decoration: none;
                transition: all .2s;
                
                &:link,
                &:visited {
                    color: $color-grey-light-1;
                }
                
                &:active,
                &:hover {
                    color: #d7d7d7; 
                }
            }
        }
    }
}