.photos {
    margin: 0;
  
    &__gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
            
        &-pic {
            height: 20rem;
            padding: .8rem;
            transition: all .5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.8);
            }
        }
    }
}